<!DOCTYPE html>
<html>
    <head>
        <title>Saint Louis Libary Search Engine</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
        <script language="JavaScript">

            function toggle(source) {
               checkboxes = document.getElementsByName('library');
               for(var i=0, n=checkboxes.length;i<n;i++) {
                 checkboxes[i].checked = source.checked;
               }
             }
             
             </script>
    </head>
    <body>
      
        
        <div style='float: right'>
          {% if 'user' in session %}
            <div>Hello, {{ session['user'] }}</div>
            <form action="/logout" method="post" id='logout'>
              <input type="submit" value="Log Out" />
            </form>
          {% else %}
            <form action="/register" method="post" id='login'>
              <table>
              <tr>
                    <td>Would you like to view saved searches?
                <label>Username</label>
                    </td>
                     <td>
                     <input name="user" type="text" value='{{user}}' />
                    <td><label>Password</label>
                    </td>
                    <td>
                    <input name="password" type="password" value='{{password}}' />      
                 </td>
                </tr>
                    <td class="error">{{password_error}}
                    </td>  
                     <td class="error"> {{username_error}}
                    </td>
                    <td>
                      <input type="submit" value="Sign in" />
                    </td>
                  </table>
            </form>
        {% endif %}
        </div>
        <h1>
            Saint Louis Libary Search Engine
        </h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class=flashes>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
    </ul>
           {% endif %}
          {% endwith %}
  

        {% block content %}
        {% endblock %}

        {% block inline %}
        {% endblock %}

        {% block contact %}
        {% endblock %}

    </body>
</html>