{% extends "base.html" %}

{% block content %}
<h3>Search History </h3>
<div class="search"> 
<table class="searchhis">

    {% for i in range(all_searches|length) %}
    <tr> {% if i % 2 == 0 %}
                <td id ="grey">
                {% else %}
                <td> 
            {% endif %}
                <div id="outer">
            <div class="inner">
                <form method='POST' action="/delete">
                <input type="hidden" name="searchid" value="{{all_searches[i].id}}"/>
                <input type="submit" value="Delete"/></form>
            </div>
            <div class="inner">
                <form method='POST' action='/'>
                <input type="hidden" name="category" value="{{all_searches[i].category}}"/>
                <input type="hidden" name="query" value="{{all_searches[i].entry}}"/>
                 {% for j in range(num_list[i]|length) %}
                    <input type="hidden" name="lib" value="{{num_list[i][j]}}"/>   
                 {% endfor %}
                <input type="submit" value="Search Again" /></form>
            </div>
            <div class="inner">
                  {{loop.index}})&nbsp; {{all_searches[i].category}}&nbsp;{{all_searches[i].entry}}&nbsp;{{name_list[i]}}
            </div>
            
            </div>
        </div></td> </tr>
    {% endfor %}
    </div> 
    
    </table>
</div>
{% endblock %}